
.btn {
    width: 100%;
    
    background-color: red;
 }
 
 .btn:hover  {
 
   background-color: rgb(26, 24, 24);
   color: #ffffff;
   border: 2px solid red;
 }
 
 .mony{
 
   background-color: rgb(26, 24, 24);
   color: #ffffff;
   border: 2px solid red;
 }
 .mony:hover{
   width: 100%;
    
   background-color: red;
 }